/* INICIO RESET */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }
/* FINAL RESET */

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lato&family=Montserrat&family=Quicksand&family=Roboto&display=swap');
/*Estoy importando las siguientes fuentes: Cabin, Roboto, Montserrat, Quicksand, Lato */

/***********************************************************************************
TODO */
#todo{
    width:80%;
    margin: 15px auto;
    background-image: url(imgs/fondo1.jpg);
    background-size:cover;
    background-repeat: repeat-y;
    background-position: center top;
    color:white;
    min-width:1000px;
}
/***********************************************************************************

/***********************************************************************************
HEADER */
header{
    text-align:center;
    font-size:30px;
    font-weight: bold;
    background-image:url(imgs/portada3.jpg);
    background-position:center top;
    background-repeat:no-repeat;
    background-color:black;
    height:500px;
    min-width:1000px;
}
/***********************************************************************************

/***********************************************************************************
BARRA DE NAVEGACIÓN */
#barra{
    background-color:rgba(38, 59, 99, 0.2);
    margin-bottom: 15px;
    height:1.7em;
    padding-top:6px;
    padding-left:2px;
    border-top: 3px solid rgb(82, 120, 146);
    border-radius: 5px;
    min-width:1000px;
}

#barra li{
    display:inline;
    background-color: rgb(22, 22, 22, 0.8);
    color:rgba(255, 255, 255,0.7);
    margin-left:2px;
    margin-right:2px;
    
    padding: 6px 20px;
    font-size:10px;
    font-family: 'Cabin',sans-serif;
    font-weight: bold;
    border-radius:10px;
}

#barra #icono{
    margin-top:-12px;
    margin-left: -50px;
    float:left;
}

#barra a:link{
    color:rgba(255, 255, 255,0.8);
    text-decoration:none;
}

#barra a:visited{
    color:rgba(255, 255, 255,0.8);
}

#barra a:hover{
    color:rgba(255,255,255);
    border-bottom: 3px solid rgb(39, 39, 179);
    padding-bottom: 2px;
    font-weight: bold;
}
/***********************************************************************************

/***********************************************************************************
BARRA DE BUSQUEDA */

.busqueda{
    text-align:right;
    margin-top:-42px;
    margin-right:10px;
    margin-bottom:50px;
}

#buscador{
    background-color: rgba(22, 22, 22, 0.3);
    border-radius:8px;
    color:white;
    width:10%;
}

.busqueda #boton{
    background-color:rgb(22, 22, 22, 0.8);
    color:white;
    border-radius:5px;
    font-size:0.7em;
    font-family: 'Cabin',sans-serif;
    height:20px;
}
/***********************************************************************************

/***********************************************************************************
BARRA LATERAL IZQUIERDA */
#blizquierda{
    float:left;
    margin-top:-36px;
    margin-bottom:50px;
}

#blizquierda ul{
    list-style:none;
    font-family:'Cabin',sans-serif;
    font-size:12px;
    background-color: rgb(22, 22, 22, 0.8);
    margin-bottom:10px;
    border-radius:5px;
}

#blizquierda li{
    margin-top:2px;
    margin-bottom:1px;
    color:rgba(255, 255, 255,0.7);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: -1px;
    padding-right: 12px;
    font-size:11px;
    font-family: 'Cabin',sans-serif;
    font-weight: bold;
    border-radius:5px;
}

#blizquierda li a:link{
    text-decoration: none;
    color:rgba(255, 255, 255,0.8);
}

#blizquierda li a:visited{
    text-decoration: none;
    color:rgba(255, 255, 255,0.8);
}

#blizquierda li a:hover{
    border-bottom:4px solid rgb(39, 39, 179);
    color:rgb(255,255,255);
}

#izquierda1, #izquierda2, #izquierda3, #izquierda4{
    margin-top:5px;
    margin-bottom:5px;
    padding-top:10px;
    padding-bottom:10px;
}
/***********************************************************************************

/***********************************************************************************
PIE DE PAGINA */
footer{
    background-color:rgb(22, 22, 22, 0.8);
    clear:both;
    font-family:'Cabin', sans-serif;
    height:1.5em;
    text-align:right;
    padding-top:5px;
    padding-right:10px;
    margin-bottom:20px;
    font-size: 11.5px;
    font-weight: bold;
    border-radius:5px;   
}
/***********************************************************************************


/***********************************************************************************
BARRA LATERAL DERECHA */
#blderecha{
    float:right;
    margin-top: -30px;
    width:170px;
    font-family:'Cabin',sans-serif;
    font-size:12px;
    background-color:rgb(22, 22, 22, 0.8);
    padding: 10px 4px 10px 4px;
    border-radius:5px;
}
/***********************************************************************************

/***********************************************************************************
CONTENIDO PRINCIPAL */
#contenedor{
    background-color:rgb(22,22,22,0.8);
    margin-left: 140px;
    margin-right: 183px;
    margin-top: -30px;
    padding: 50px 20px 50px 20px;
    font-family:'Cabin',sans-serif;
    border-radius: 5px;
    min-width:500px;
    overflow:hidden;
}

#contenedor h1{
    font-family:'Cabin',sans-serif;
    font-size:19px;
    transform-style:uppercase;
    font-weight:bold;
}

#contenedor p{
    font-family:'Cabin',sans-serif;
    font-size:14px;
    text-align:justify;
}


#bienvenida h1{
    color:yellow;
    
}

#bienvenida p{
    color:greenyellow;
}
/***********************************************************************************

/***********************************************************************************
DESCARGAS: BARRA SUPERIOR */
#descargas p{
    font-family:'Cabin',sans-serif;
    font-size:12px;
    text-align:justify;
    color:greenyellow;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
/***********************************************************************************


/***********************************************************************************
PERSONAJES: AMAZONA, ASESINA, BARBARO, DRUIDA, HECHICERA, NIGROMANTE, PALADIN */
#personajes{
    font-family:'Cabin',sans-serif;
    font-size:12px;
    text-align:justify;
    color:rgb(141, 195, 245);
}

#personajes h1{
    font-weight: bold;
    font-size:14px;
}

#personajes p{
    color:rgb(142, 233, 142);
}
/***********************************************************************************/


/***********************************************************************************
OBJETOS UNICOS */
#cuerpo{
    background-color:black;
    color:white;
    text-align:center;
    font-family: 'Cabin', sans-serif;
    margin: 20px 0;
    padding: 20px 20px;
    
}

#unico_grupo{
    background-color:black;
    color:white;
    text-align:center;
    font-family: 'Cabin', sans-serif;
    margin: 20px 0;
    padding: 20px 20px;
}

#unico_grupo a{
    padding-left:15px;
    padding-right: 20px;
}

#unico_tabla .unico{
    font-size:13px;
}

#unico_grupo .grupo p{
    font-size:20px;
}

#unico_tabla .unico:hover{
    color:yellow;
}

#unico_grupo .grupo{
    color:greenyellow;
    font-size:14px;
}

#unico_grupo a:link, #unico_grupo a:visited{
    text-decoration: none;
    color: white;
}

#unico_tabla{
    margin:auto;
}
/***********************************************************************************

/***********************************************************************************
LISTA DE OBJETOS UNICOS */
.fondo_tabla{
    background-color: black;
    margin:auto;
    color:#cccccc;
    width:70%;
    margin-top:40px;
    margin-bottom:40px;
    font-family: 'Cabin', sans-serif;
}

#contenedor .tabla_objeto p{
    text-align:center;
    font-size:12px;
}

#contenedor .tabla_propiedades p{
    font-size:12px;
}

.tabla_objeto{
    text-align:center;
    padding-right:40px;
    padding-left:40px;
    width:180px;
}

.espacio{
    height:30px;
}

.tabla_propiedades{
    font-family: 'Cabin', sans-serif;
    text-align:left;
    font-size:10px;
}

.tabla_objeto .titulo{
    font-weight: bold;
    font-size:11px;
    font-family: 'Cabin', sans-serif;
    color:#999966;
}

.tabla_objeto .objeto{
    font-size: 10px;
    font-family: 'Cabin', sans-serif;
    padding-top:1px;
    text-align:center;
}
/***********************************************************************************

/***********************************************************************************
LISTA DE OBJETOS SET */

#contenedor #set_grupo{
    color:white;
    text-align:center;
    font-family: 'Cabin', sans-serif;
    margin: auto;
    padding: 10px 10px;
}

#contenedor #set_grupo a{
    font-size:11px;
    font-family: 'Cabin', sans-serif;
    color:rgb(142, 233, 142);
    text-decoration:none;
}

#contenedor #set_grupo .p_set{
    font-size:14px;
    color:rgb(141, 195, 245);
    font-weight: bold;
    font-family:'Cabin', sans-serif;
    text-align:center;
    padding-right:15px;
    margin-bottom:-40px;
    margin-top:15px;
}

#contenedor #set_grupo .set_tabla td{
    border-spacing: 5px 10px;
}

#contenedor #set_grupo td p a{
    font-family: 'Cabin', sans-serif;
    padding-top:5px;
    padding-bottom:5px;
    font-weight: bold;
}

#contenedor #set_grupo .set_tabla{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
}
/***********************************************************************************

/***********************************************************************************
RUNAS*/
#runas{
    font-family:'Cabin',sans-serif;
    font-size:12px;
    text-align:justify;
    color:greenyellow;
}

#runas td{
    padding:4px;
    margin:12px;
}

#runas tr{
    margin:1.5px;
}
/***********************************************************************************

/***********************************************************************************
CUBO HORADRICO */
.formulas_c{
    font-family: 'Cabin', sans-serif;
    font-size:13px;
    color:yellow;
    font-weight:bold;
}

.cubo_content{
    font-family: 'Cabin', sans-serif;
    font-size:12px;
    color:greenyellow;

}
/***********************************************************************************

/***********************************************************************************
LLAVES*/
#llaves{
    font-family:'Cabin',sans-serif;
    font-size:12px;
    text-align:justify;
    color:greenyellow;
}

#llaves td{
    padding:4px;
    margin:12px;
}

#llaves tr{
    margin:1.5px;
}
/***********************************************************************************

/***********************************************************************************
EXTRACTORES*/
#extractores{
    font-family:'Cabin',sans-serif;
    font-size:12px;
    text-align:justify;
    color:greenyellow;
}

#extractores td{
    padding:4px;
    margin:12px;
}

#extractores tr{
    margin:1.5px;
}
/***********************************************************************************

/***********************************************************************************
GEMAS*/
#gemas{
    font-family:'Cabin',sans-serif;
    font-size:12px;
    text-align:justify;
    color:greenyellow;
}

#gemas td{
    padding:4px;
    margin:12px;
}

#gemas tr{
    margin:1.5px;
}
/***********************************************************************************

